.contact-us-container{
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EAF6FC;
}

.contact-us-left-container{
    height: 100%;
    width: 50%;
    padding-left: 8rem;
    padding-top: 5rem;
}

.contact-us-internal-linking{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.contact-us-internal-linking-btn{
    width: 10rem;
    background-color: #d9dcdf;
    color: #354653;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 2.5rem;
    border : none;
    text-align: center;
    text-decoration: none;
}


.contact-us-heading{
    font-size: 5rem;
    font-family: 'Noto Serif';
    color: #001F3F;
}

.contact-us-text-secondary{
    font-size: 1.2rem;
    font-family: 'Poppins';
    width: 32rem;
    padding-left: 0.4rem;
    color: #3A6D8C;
    margin-bottom: 2.4rem;
    margin-top: 1.5rem;
    font-weight: 400;
}

.contact-us-detail-row{
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1.2rem;
    padding-left: 0.4rem;
}

.contact-us-detail-row img{
    height: 1.6rem;
    width: 1.6rem;
}

.contact-us-detail{
    font-size: 1.2rem;
    color: #001F3F;
    font-family: 'Poppins';
    margin-bottom: 0px;
    font-weight: 400;
}


.contact-us-right-container{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.contact-us-form{
    width: 60%;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact-us-form-heading{
    font-size: 2.5rem;
    font-family: 'Noto Serif';
    padding-left: 2rem;
    padding-top: 2rem;
    color: #001F3F;
}


.contact-us-form-text-secondary{
    font-size: 1rem;
    font-family: 'Poppins';
    padding-left: 2.5rem;
    width: 24rem;
    margin-bottom: 2.5rem;
    color: #3A6D8C;
    font-weight: 400;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1rem;
}


.input-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1.2rem;
}

.form-button{
    position: relative;
    width: 100%;
    height: 2.8rem;
    border: none;
    border-radius: 1rem;
    font-size: 20px;
    outline: none;
    color: white;
    font-weight: 700;
    background-color: #F59E67;
    margin-bottom: 1rem;
}

.form-button:hover{
    background-color: #e88d55;
    transition: all 0.3s ease-in-out;
}

.input-container input {
    width: 100%;
    height: 2.6rem;
    border: 1px solid #CCCCCC;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 18px;
    outline: none;
    color: #001F3F;
}

.input-container textarea {
    width: 100%;
    height: 6rem;
    border: 1px solid #CCCCCC;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
    outline: none;
    color: #001F3F;
}

.input-container input::placeholder {
    color: #CCCCCC;
}


.input-container textarea::placeholder {
    color: #CCCCCC;
}

.input-container img + input {
    padding-left: 2.5rem;
}

.input-container input:focus {
    border-color: #F59E67;
    box-shadow: 0 0 5px rgba(245, 158, 103, 0.5);
}


.input-container textarea:focus {
    border-color: #F59E67;
    box-shadow: 0 0 5px rgba(245, 158, 103, 0.5);
}

.input-container img {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #CCCCCC;
    font-size: 1rem;
    margin-right: 1rem;
}


.spinner {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 1300px) {

    .contact-us-container{
        
    }

    .contact-us-left-container{
        height: 100%;
        width: 50%;
        padding-left: 5rem;
        padding-top: 4rem;
    }


    .contact-us-heading{
        font-size: 3rem;
        font-family: 'Roboto Condensed';
        color: #001F3F;
    }

    .contact-us-text-secondary{
        font-size: 0.9rem;
        font-family: 'Poppins';
        width: 24rem;
        padding-left: 0.2rem;
        color: #3A6D8C;
        margin-bottom: 2.5rem;
        margin-top: 1.5rem;
    }

    .contact-us-detail-row{
        height: 2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1.5rem;
        gap: 0.8rem;
        padding-left: 0.2rem;
    }

    .contact-us-detail-row img{
        height: 1.3rem;
        width: 1.3rem;
    }

    .contact-us-detail{
        font-size: 0.9rem;
        color: #001F3F;
    }


    .contact-us-right-container{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
    }


    .contact-us-form{
        width: 60%;
        background-color: white;
        border-radius: 2rem;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .contact-us-form-heading{
        font-size: 1.8rem;
        font-family: 'Roboto Condensed';
        padding-left: 1.5rem;
        padding-top: 1.5rem;
        color: #001F3F;
    }


    .contact-us-form-text-secondary{
        font-size: 0.8rem;
        font-family: 'Poppins';
        padding-left: 1.7rem;
        width: 24rem;
        margin-bottom: 2rem;
        color: #3A6D8C;
    }

    .form-row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 0.5rem;
    }


    .input-container {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 0.8rem;
    }

    .form-button{
        position: relative;
        width: 100%;
        height: 2.4rem;
        border: none;
        border-radius: 1rem;
        font-size: 16px;
        outline: none;
        color: white;
        font-weight: 700;
        background-color: #F59E67;
        margin-bottom: 1rem;
    }

    .form-button:hover{
        background-color: #e88d55;
        /* transform: scale(1.05);  */
        transition: all 0.3s ease-in-out;
    }

    .input-container input {
        width: 100%;
        height: 2.2rem;
        border: 1px solid #CCCCCC;
        border-radius: 1rem;
        padding-left: 1rem;
        padding-left: 1rem;
        font-size: 16px;
        outline: none;
        color: #001F3F;
    }

    .input-container textarea {
        width: 100%;
        height: 5rem;
        border: 1px solid #CCCCCC;
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 16px;
        outline: none;
        color: #001F3F;
    }

    .input-container input::placeholder {
        color: #CCCCCC;
    }


    .input-container textarea::placeholder {
        color: #CCCCCC;
    }

    .input-container img + input {
        padding-left: 2.5rem;
    }

    .input-container input:focus {
        border-color: #F59E67;
        box-shadow: 0 0 5px rgba(245, 158, 103, 0.5);
    }


    .input-container textarea:focus {
        border-color: #F59E67;
        box-shadow: 0 0 5px rgba(245, 158, 103, 0.5);
    }

    .input-container img {
        position: absolute;
        width: 1rem;
        height: 1rem;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: #CCCCCC;
        font-size: 1rem;
        margin-right: 1rem;
    }
}


@media (max-width: 768px) {

    .contact-us-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 2rem;
        padding-top: 2rem;
    }

    .contact-us-left-container{
        height: auto;
        width: 100%;
        padding-left: 0rem;
        padding-top: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .contact-us-heading{
        text-align: center;
    }

    .contact-us-text-secondary{
        text-align: center;
        width: 90%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .contact-us-detail-row{
        width: auto;
        margin-bottom: 0.5rem;
    }

    .contact-us-right-container{
        height: auto;
        width: 100%;
    }

    .contact-us-form{
        height: 100%;
        width: 90%;
    }

    .contact-us-form-text-secondary{
        width: 15rem;
    }

    .form-button{
        margin-bottom: 1rem;
    }
}