.gallery-main-container {
  background-color: #eaf6fc;
  padding-top: 2.5rem;
}

.gallery-heading {
  color: #001f3f;
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins";
}

.subHeading {
  color: #3a6d8c;
  max-width: 20ch;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Poppins";
  margin: 0 auto;
}
