.view-one-main-container{
    width: 100%;
    height: calc(100vh);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF6FC;
}

.view-one-container{
    display: flex;
    flex-direction: row;
    margin-top: 11rem;
    width: 90%;
}


.view-one-container-left{
    flex: 1;
    margin-top: 4.5rem;
}

.view-one-container-right{
    position: relative;
    flex: 1;
    display: flex;
    justify-content: end;
}

.title-text-primary{
    font-family: 'Noto Serif';
    font-weight: 400;
    color: #3A6D8C;
    font-size: 4.6rem;
    line-height: 6rem;
    word-wrap: break-word;
}


.title-text-secondary{
    font-family: 'Poppins';
    font-weight: 400;
    color: #6A9AB0;
    font-size: 2rem;
    margin-top: 3rem;
}

.refer-btn{
    width: 15rem;
    background-color: #F59E67;
    color: white;
    padding: 10px 10px;
    border-radius: 2rem;
    font-size: 1.5rem;
    margin-top: 4rem;
    border : none;
}

.bg-box {
    position: absolute;
    width: 75%;
    height: 31rem;
    background-color: rgba(58, 109, 140, 0.4);
    border-radius: 5rem; 
    z-index: 1;
}

.image-slider {
    position: absolute;
    width: 75%;
    height: 31rem;
    right: 4rem;  
    top: 4rem;    
    border-radius: 5rem;
    overflow: hidden;
    z-index: 2; 
}

.image-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3rem;
}


@media (max-width: 1300px) {

    /* .view-one-main-container{
        height: calc(100vh - 80px);
    } */

    .view-one-container{
        margin-top: 7.5rem;
    }
    
    
    .view-one-container-left{
        margin-top: 3rem;
    }


    .title-text-primary{
        font-size: 3.1rem;
        line-height: 4rem;
    }
    
    
    .title-text-secondary{
        font-size: 1.4rem;
        margin-top: 2rem;
    }
    
    .refer-btn{
        width: 10rem;
        padding: 5px 5px;
        border-radius: 2rem;
        font-size: 1.5rem;
        margin-top: 2.5rem;

    }

    .bg-box {
        width: 80%;
        height: 21rem;
        background-color: rgba(58, 109, 140, 0.4);
        border-radius: 5rem; 
        z-index: 1;
    }
    
    .image-slider {
        width: 80%;
        height: 21rem;
        right: 2rem;  
        top: 2rem;    
        border-radius: 5rem;
        overflow: hidden;
        z-index: 2; 
    }
    
    .image-slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3rem;
    }
}


@media (max-width: 768px) {

    .view-one-container{
        flex-direction: column;
        margin-top: 3rem;
    }
    
    .view-one-container-right,
    .view-one-container-left{
        flex: none;
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-text-primary{
        text-align: center;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    
    
    .title-text-secondary{
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.5rem;
        margin-top: 2rem;
    }
    
    .refer-btn{
        width: 10rem;
        font-size: 1.3rem;
        border-radius: 1rem;
        margin-top: 2rem;
    }
    
    .bg-box {
        display: none;
    }
    
    .image-slider {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 90%; 
        height: 13rem; 
        border-radius: 2rem;
        margin: 2rem auto; 
        border: 8px solid rgba(58, 109, 140, 0.4);
    }

    .image-slider img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        border-radius: 1rem;
    }
}

