.services-main-container{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF6FC;
}

.services-heading{
    font-size: 4rem;
    font-family: 'Poppins';
    text-align: center;
    color: #001F3F;
    margin-top: 4rem;
}

.services-text-secondary {
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: #3A6D8C;
    text-align: center;
    width: 60rem;
    margin-top: 1rem;
}

.services-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    gap: 2rem;
}

.service-box{
    background-color: #EAF6FC;
    border: 3px solid #001F3F;
    height: 19rem;
    width: 24rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.service-box img{
    height: 5rem;
    width: 5rem;
    background-color: #001F3F;
    padding: 1rem;
    border-radius: 100%;
}

.service-heading{
    text-align: center;
    color: #001F3F;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.service-text-secondary{
    color: #3A6D8C;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}


@media (max-width: 1300px) {
    .services-heading{
        font-size: 2.5rem;
        font-family: 'Poppins';
        text-align: center;
        color: #001F3F;
        margin-top: 2rem;
    }

    .services-text-secondary {
        font-size: 0.9rem;
        font-family: 'Poppins';
        color: #3A6D8C;
        text-align: center;
        width: 40rem;
        margin-top: 0.5rem;
    }

    .services-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 4rem;
        gap: 1rem;
    }

    .service-box{
        background-color: #EAF6FC;
        border: 2px solid #001F3F;
        height: 14rem;
        width: 17rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .service-box img{
        height: 3rem;
        width: 3rem;
        background-color: #001F3F;
        padding: 0.5rem;
        border-radius: 100%;
    }

    .service-heading{
        text-align: center;
        color: #001F3F;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0.5rem;
    }

    .service-text-secondary{
        color: #3A6D8C;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 1rem;
    }
}


@media (max-width: 768px) and (max-height: 750px) {
    .services-main-container {
        height: 190vh;
    }
}

@media (max-width: 768px) and (min-height: 751px) {
    .services-main-container {
        height: 140vh;
    }
}


@media (max-width: 768px) {

    .services-heading{
        font-size: 2.5rem;
        font-family: 'Poppins';
        text-align: center;
        color: #001F3F;
        margin-top: 2rem;
    }

    .services-text-secondary {
        font-size: 0.9rem;
        font-family: 'Poppins';
        color: #3A6D8C;
        text-align: center;
        width: 90%;
        margin-top: 0.5rem;
    }

    .services-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 4rem;
    }


    .service-box{
        height: 14rem;
        width: 80%;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
}