.contact-us-container{
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #141515;
}

.contact-us-left-container{
    height: 100%;
    width: 50%;
    padding-left: 8rem;
    padding-top: 10rem;
}


.contact-us-heading {
    font-size: 4rem;
    font-family: 'Roboto Condensed';
    color: white;
}

.contact-us-text-secondary{
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: white;
    margin-bottom: 2.4rem;
    margin-top: 1rem;
    font-weight: 300;
    width: 90%;
}

.contact-us-detail-row{
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1.2rem;
    padding-left: 0.4rem;
}

.contact-us-detail-row img {
    height: 1.6rem;
    width: 1.6rem;
}

.contact-us-detail{
    font-size: 1.2rem;
    color: white;
    font-family: 'Poppins';
    margin-bottom: 0px;
    font-weight: 400;
}


.contact-us-right-container{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}


.contact-us-form {
    width: 80%;
    background-color: #1E2020;
    border-radius: 2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
}

.contact-us-form-heading{
    font-size: 2.5rem;
    font-family: 'Roboto Condensed';
    padding-left: 2rem;
    padding-top: 2rem;
    color: white;
}


.contact-us-form-text-secondary{
    font-size: 1rem;
    font-family: 'Poppins';
    padding-left: 2rem;
    margin-bottom: 2.5rem;
    color: white;
    font-weight: 400;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 1rem;
}


.input-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1.2rem;
}

.form-button{
    position: relative;
    width: 100%;
    height: 2.8rem;
    border: none;
    border-radius: 1rem;
    font-size: 20px;
    outline: none;
    color: #141515;
    font-weight: 700;
    background-color: white;
    margin-bottom: 1rem;
}

.form-button:hover{
    background-color: rgb(200, 200, 200);
    transition: all 0.3s ease-in-out;
}

.input-container input, select {
    width: 100%;
    height: 2.6rem;
    background-color: #141515;
    border: 1px solid #141515;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 18px;
    outline: none;
    color: white;
}

.input-container textarea {
    width: 100%;
    height: 6rem;
    background-color: #141515;
    border: 1px solid #141515;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
    outline: none;
    color: white;
}

.input-container input::placeholder {
    color: #CCCCCC;
}


.input-container textarea::placeholder {
    color: #CCCCCC;
}

.input-container img + input {
    padding-left: 2.5rem;
}

.input-container input:focus {
    border-color: white;
    box-shadow: none;
}


.input-container textarea:focus {
    border-color: white;
    box-shadow: none;
}

.input-container img {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #CCCCCC;
    font-size: 1rem;
    margin-right: 1rem;
}


.spinner {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid #141515;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 1300px) {


    .contact-us-left-container{
        padding-left: 4rem;
        padding-top: 10rem;
    }

    .contact-us-heading {
        font-size: 3rem;
    }

    .contact-us-text-secondary{
        font-size: 0.9rem;
        padding-left: 0.2rem;
        margin-top: 1.5rem;
    }

    .contact-us-detail-row{
        margin-bottom: 1rem;
        gap: 0.8rem;
        padding-left: 0.2rem;
    }

    .contact-us-detail-row img{
        height: 1.3rem;
        width: 1.3rem;
    }

    .contact-us-detail{
        font-size: 0.9rem;
    }


    .contact-us-right-container{
        margin-top: 8rem;
    }

    .contact-us-form {
        padding: 1rem;
    }


    .contact-us-form-heading{
        font-size: 1.8rem;
        padding-left: 1.5rem;
        padding-top: 1rem;
    }


    .contact-us-form-text-secondary{
        font-size: 0.8rem;
        padding-left: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .form-row{
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 0.5rem;
    }


    .input-container {
        margin-bottom: 0.8rem;
    }

    .form-button{
        height: 2.4rem;
        font-size: 16px;
        margin-bottom: 0.5rem;
    }


    .input-container input, select {
        height: 2.2rem;
        font-size: 16px;
    }

    .input-container textarea {
        height: 5rem;
        font-size: 16px;
    }
}


@media (max-width: 768px) {

    .contact-us-container{
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .contact-us-left-container{
        height: auto;
        width: 100%;
        padding-left: 0rem;
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-us-heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .contact-us-text-secondary{
        text-align: center;
        width: 90%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .contact-us-detail-row{
        width: auto;
        margin-bottom: 0.5rem;
    }

    .contact-us-right-container{
        margin-top: 0rem;
        height: auto;
        width: 100%;
    }

    .contact-us-form {
        height: 100%;
        width: 90%;
        padding: 0.5rem;
    }
}