.view-four-main-container{
    width: 100%;
    height: 130vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001F3F;
    /* background-image: url("../../assets/wall.png"); */
}


.reasons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    /* height: 100%;  */
}

.reason-box{
    width: 33rem;
    height: 45rem;
    border: 0.5rem solid #6A9AB0;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
}

.box-header{
    height: 8rem;
    background: #6A9AB0;
    border-radius: 2rem 2rem 0rem 0rem;
    color: white;
    font-family: 'Poppins';
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reason-img-container{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.reason-img-container img{
    width: 6rem;
    height: 6rem;
}

.reason-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:2rem;
    color:white;
    font-size: 1.8rem;
}

.box-header img{
    display: none;
}


@media (max-width: 1300px) {
    .view-four-main-container{
        width: 100%;
        height: 120vh;
    }
    
    
    .reasons-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        /* height: 100%;  */
    }
    
    .reason-box{
        width: 20rem;
        height: 30rem;
        border: 0.5rem solid #6A9AB0;
        border-radius: 3rem;
        display: flex;
        flex-direction: column;
    }
    
    .box-header{
        height: 4rem;
        background: #6A9AB0;
        border-radius: 2rem 2rem 0rem 0rem;
        color: white;
        font-family: 'Poppins';
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .reason-img-container{
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }
    
    .reason-img-container img{
        width: 4rem;
        height: 4rem;
    }
    
    .reason-text{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:1rem;
        color:white;
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .view-four-main-container{
        width: 100%;
        height: 140vh;
    }
    
    
    .reasons-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        /* height: 100%;  */
    }
    
    .reason-box{
        width: 90%;
        height: 15rem;
        border: 0.5rem solid #6A9AB0;
        border-bottom: none;
        border-top: none;
        border-radius: 3rem ;
        display: flex;
        flex-direction: column;
    }
    
    .box-header{
        height: 4rem;
        background: none;
        border-radius: 2rem 2rem 0rem 0rem;
        color: white;
        font-family: 'Poppins';
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    
    .reason-img-container{
        justify-content: center;
        padding-top: 0rem;
    }

    .reason-img-container img{
        width: 2rem;
        height: 2rem;
    }

    
    .reason-text{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding:0.5rem;
        color:white;
        font-size: 0.9rem;
    }
}