.view-three-main-container{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EAF6FC;
}


.steps-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-one{
    width: 80%;
    border-bottom: 5px solid #3A6D8C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.step-two{
    width: 80%;
    border-bottom: 5px solid #3A6D8C;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2.5rem 0rem;
    justify-content: space-between;
}

.step-three{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.step-number-one {
    height: 13rem;
    width: 8rem;
    background-color: #3A6D8C;
    color: white;
    font-size: 5rem;
    align-content: center;
    text-align: center;
    border-radius: 2rem 0rem 0rem 0rem;
}

.step-number-three {
    height: 13rem;
    width: 8rem;
    background-color: #3A6D8C;
    color: white;
    font-size: 5rem;
    align-content: center;
    text-align: center;
    border-radius: 0rem 0rem 0rem 2rem;
}

.step-number-two {
    height: 13rem;
    width: 8rem;
    background-color: #3A6D8C;
    color: white;
    font-size: 5rem;
    align-content: center;
    text-align: center;
    border-radius: 0rem 0rem 2rem 0rem;
}


.step-text{
    text-align: start;
    width: 100%;
    color: #3A6D8C;
    font-size: 1.8rem
}


.img-container img {
    width: 20rem;
    height: 10rem;
}

.img-container img {
    width: 20rem;
    height: 10rem;
}

.img-container img {
    width: 20rem;
    height: 10rem;
}

.text-container{
    justify-content: flex-start;
    width: 60%;
}

.number-container{
    width: 20%;
}

.number-container-right{
    width: 20%;
    justify-content: flex-end;
    display: flex;
}

.img-container{
    width: 20%;
    display: flex;
    justify-content: flex-start
}

.inner-img-container {
    display: none;
}



@media (max-width: 1300px) {
    .step-number-one {
        height: 10rem;
        width: 6.5rem;
        font-size: 4rem;
    }
    
    .step-number-three {
        height: 10rem;
        width: 6.5rem;
        font-size: 4rem;
    }
    
    .step-number-two {
        height: 10rem;
        width: 6.5rem;
        font-size: 4rem;
    }
    
    
    .step-text{
        font-size: 1.3rem
    }
    
    
    .img-container img {
        width: 15rem;
        height: 8rem;
    }
    
    .img-container img {
        width: 15rem;
        height: 8rem;
    }
    
    .img-container img {
        width: 15rem;
        height: 8rem;
    }    
}


@media (max-width: 768px) {

    .steps-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }    

    .step-one{
        width: 95%;
        height: calc(100vh / 4);
        border: 3px solid #3A6D8C;
        border-radius: 2.5rem;
    }
    
    
    .step-two{
        width: 95%;
        border: 3px solid #3A6D8C;
        border-radius: 2.5rem;
    }
    
    .step-three{
        width: 95%;
        border: 3px solid #3A6D8C;
        border-radius: 2.5rem;
    }
    
    .step-number-one {
        margin-top: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        background: #EAF6FC;
        color: #3A6D8C;
        font-size: 1.5rem;
        align-content: center;
        text-align: center;
        border-radius: 1rem;
    }
    
    .step-number-two {
        margin-top: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        background: #EAF6FC;
        color: #3A6D8C;
        font-size: 1.5rem;
        align-content: center;
        text-align: center;
        border-radius: 1rem;
    }

    .step-number-three {
        margin-top: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        background: #EAF6FC;
        color: #3A6D8C;
        font-size: 1.5rem;
        align-content: center;
        text-align: center;
        border-radius: 1rem;
    }
    
    
    .step-text{
        text-align: start;
        width: 100%;
        color: #3A6D8C;
        font-size: 0.8rem
    }

    .inner-img-container {
        flex-grow: 1; 
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%;
    }
    
    .inner-img-container img {
        width: 6rem;
        height: auto;
    }
    
    .text-container{
        justify-content: flex-start;
        width: 60%;
        padding: 0rem 2rem 0rem 2rem;
    }
    
    .number-container{
        width: 40%;
        height: calc(100vh / 4);
        border-right: 2px solid #3A6D8C;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #3A6D8C;
        border-radius: 2rem 0rem 0rem 2rem;
    }
    
    .number-container-right{
        width: 40%;
        height: calc(100vh / 4);
        border-left: 2px solid #3A6D8C;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #3A6D8C;
        border-radius: 0rem 2rem 2rem 0rem; 
    }
    
    .img-container{
        width: 30%;
        display: flex;
        justify-content: flex-start;
        display: none;
    }
}