.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.refer-text-heading {
  margin-bottom: 0.5rem;
  color: #141515;
}

.modal-content p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #333;
}

.modal-content input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.submit-btn {
  padding: 0.6rem 1.2rem;
  background-color: #141515;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
  transition: color 0.2s ease;
}

.close-icon:hover {
  color: #000;
}


.three-column-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 80px 40px;
  background-color: #141515;
  color: white;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-column {
  justify-content: flex-end;
}

.left-column .words p {
  font-size: 2rem;
  line-height: 4rem;
  font-style: italic;
  margin: 0;
}

.middle-column {
  justify-content: center;
}

.middle-column img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.right-column {
  justify-content: flex-start;
}

.right-column .description {
  margin-bottom: 20px;
  line-height: 1.6rem;
  padding: 0px 40px;
}

.contact-btn {
  padding: 12px 24px;
  margin: 20px 40px;
  background-color: white;
  color: #111;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.contact-btn:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .three-column-section {
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
    text-align: center;
  }

  .left-column,
  .middle-column,
  .right-column {
    width: 100%;
    justify-content: center;
  }

  .left-column .words p {
    font-size: 1.25rem;
    line-height: 3rem;
  }

  .middle-column img {
    margin: 10px 0;
  }
}
