.three-column-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 80px 40px;
  background-color: #141515;
  color: white;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-column {
  justify-content: flex-end;
}

.left-column .words p {
  font-size: 2rem;
  line-height: 4rem;
  font-style: italic;
  margin: 0;
}

.middle-column {
  justify-content: center;
}

.middle-column img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.right-column {
  justify-content: flex-start;
}

.right-column .description {
  margin-bottom: 20px;
  line-height: 1.6rem;
  padding: 0px 40px;
}

.contact-btn {
  padding: 12px 24px;
  margin: 20px 40px;
  background-color: white;
  color: #111;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

.contact-btn:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .three-column-section {
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
    text-align: center;
  }

  .left-column,
  .middle-column,
  .right-column {
    width: 100%;
    justify-content: center;
  }

  .left-column .words p {
    font-size: 1.25rem;
    line-height: 3rem;
  }

  .middle-column img {
    margin: 10px 0;
  }
}
