.gradient-container{
    width: 100%;
    height: 3rem;
}

.line-l2d{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    background: linear-gradient(#EAF6FC 50%, #001F3F 50%) ;
}

.line-d2l{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    background: linear-gradient(#001F3F 50%, #EAF6FC 50%) ;
}

.brick-dark{
    width: 4.76%;
    height: 100%;
    background-color: #001F3F;
    border-radius: 0.5rem;
}

.brick-light{
    width: 4.76%;
    height: 100%;
    background-color: #EAF6FC;
    border-radius: 0.5rem;
}


@media (max-width: 768px) {
    .gradient-container{
        width: 100%;
        height: 2rem;
    }
    
    .line{
        height: 2rem;
    }
    
    .brick-dark{
        width: 9.09%;
        height: 100%;
        background-color: #001F3F;
        border-radius: 0.5rem;
    }
    
    .brick-light{
        width: 9.09%;
        height: 100%;
        background-color: #EAF6FC;
        border-radius: 0.5rem;
    }
}