.footer-container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-inr-container {
  width: 100%;
  height: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1E2020;
  padding: 2rem 0rem;
}

.footer-row {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.footer-text {
  color: white;
}

.footer-icon-container {
  display: flex;
  justify-content: center;
  background-color: #141515;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: 2rem;
}

.footer-icon-container img {
  width: 1rem;
  height: 1rem;
}

