.view-two-main-container{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #001F3F;
}


.what-we-do-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
    margin-top: 3rem;
}

.what-we-do-text-primary{
    color:white;
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Noto Serif';
}

.what-we-do-text-secondary{
    color:white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Poppins';
    width: 75%;
    margin-top: 3rem;
    font-weight: 300;
}

.view-two-img-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 5rem; 
    margin-top: 4rem;
}

.view-two-img {
    width: 35rem; 
    height: 25rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem; 
    position: relative;
}

.view-two-img img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 3rem; 
}

.image-label {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6A9AB0; 
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    border-radius: 1.5rem;
    width: 25rem;
    text-align: center;
}


@media (max-width: 1300px) {

    .what-we-do-container{
        margin-top: 2rem;
    }

    .what-we-do-text-primary{
        font-size: 3rem;
    }
    
    .what-we-do-text-secondary{
        font-size: 1.3rem;
        width: 75%;
        margin-top: 2rem;
        font-weight: 300;
    }
    
    .view-two-img-container { 
        margin-top: 3rem;
    }
    
    .view-two-img {
        width: 22rem; 
        height: 15rem; 
        border-radius: 2.5rem;
    }
    
    .view-two-img img { 
        border-radius: 2.5rem; 
    }
    
    .image-label {
        bottom: -1.5rem;
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem;
        border-radius: 1rem;
        width: 15rem;
    }
    
}


@media (max-width: 768px) {

    .what-we-do-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3rem;
    }
    
    .what-we-do-text-primary{
        color:white;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Noto Serif';
    }
    
    .what-we-do-text-secondary{
        color:white;
        text-align: center;
        font-size: 0.9rem;
        font-family: 'Poppins';
        width: 85%;
        margin-top: 1rem;
        font-weight: 300;
    }
    
    .view-two-img-container {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        gap: 2rem; 
        margin-top: 2rem;
    }
    
    .view-two-img {
        width: 17rem; 
        height: 9rem; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.5rem; 
        position: relative;
    }
    
    .view-two-img img {
        border-radius: 1.5rem; 
    }
    
    .image-label {
        display: none;
    }
}
