.hero-video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.hero-content h1 {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  font-weight: 400;
  max-width: 600px;
  margin-bottom: 20px;
  margin-top: 50px;
  line-height: 1.4;
}

.hero-btn {
  background: white ;
  color: #141515;
  border: none;
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero-btn:hover {
  background: #b5b9b9;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
    max-width: 80%;
  }
  .hero-btn {
    font-size: 1.2rem;
    font-weight: 400;
  }
}