.section-header {
  width: 100%;
  min-height: 200px;
  /* background: white; */
  background: #1E2020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header h2 {
  font-family: "Quicksand", sans-serif;
  /* font-weight: 400; */
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 40px 0px;
  width: 50%;
  /* color: #141515; */
  color: white;
}

@media (max-width: 768px) {
  .section-header {
    min-height: 120px;
  }

  .section-header h2 {
    font-weight: 300;
    font-size: 2rem;
    width: 100%;
  }
}
