.section-header {
  width: 100%;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .section-header {
    height: 120px;
  }

  .section-header h2 {
    font-weight: 300;
    font-size: 2rem;
  }
}
