.blog-main-container {
  background-color: #eaf6fc;
  padding-top: 8rem;
}

@media (max-width: 768px) {
  .blog-main-container {
    padding-top: 2rem;
  }
}

.responsive-text {
  font-size: 0.95rem;
}
@media (min-width: 576px) {
  .responsive-text {
    font-size: 1.2rem;
  }
}
