.blog-index-main-container{
    background-color: #EAF6FC;
    height: 110vh;
}

.blog-index-text-primary{
    font-family: "Poppins";
    color: #001F3F;
}

@media (max-width: 768px) and (max-height: 750px) {
    .blog-index-main-container{
        height: 140vh;
    }
}