.bg-custom-dark {
  background-color: #141515;
}

.partner-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 575px) {
  .partner-img {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 992px) {
  .partner-img {
    width: 220px;
    height: 220px;
  }
}

.letter-spacing {
  letter-spacing: 2px;
}

.min-vh-75 {
  min-height: 75vh;
}

@media (min-width: 992px) {
  .partner-content {
    font-size: 1rem;
  }

  .partner-title {
    font-size: 1.75rem;
  }
}

.rounded-circle {
  background-color: white !important;
}
